@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
   box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    backdrop-filter: blur(20px);
}
header .logo
{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 2em;
}
header ul
{
position: relative;
display: flex;
gap: 40px;
}
header ul li
{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.25em;
}
header ul li .active a,
header ul li:hover a
{
    color: #30fe6c;
}
#home
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}
#home::before
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50vw;
    height: 25vw;
    background:#30fe6c;
    border-top-right-radius: 25vw;
    border-top-left-radius: 25vw;

}
#home .content
{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 650px;
    z-index: 10;
}
#home .content h2{
    position: relative;
    font-size: 5em;
    color: #30fe6c;
}
#home .content p
{
position: relative;
color: #fff;
font-size: 1.2em;
line-height: 1.6em;
}
.btn
{
    position: relative;
    display: inline-block;
    font-size: 1.25em;
    max-width: 200px;
    background: #30fe6c;
    color: #222;
    text-align: center;
    padding: 18px 30px;
    font-weight: 500;
letter-spacing: 0.05em;
text-decoration: none;
margin-top: 10px;
transition: transform 0.3s ease 0s;
}
.btn:hover{
    background-color: #27cf57;
    font-weight: bold;
    transform: translateY(-7px);
}

.works{
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}
.works>div{
    text-align: center;
    padding: 15px;
    background:#2e2f34 ;
    width: 90%
}
.works>div>h3{
    color: #30fe6c;
}
.works>div>h2{
    font-size: 28px;
    color: whitesmoke;
}
.works>div:hover{
    border: 2px solid #30fe6c;
    cursor: pointer;
}
.ticks{
    margin-top: 15px;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.ticks>p{
    margin-top: 15px;
}
#home .men
{
    
    position: absolute;
    bottom: 0;
    right: 100px;
    max-height: 80vh;
    transition: transform 0.3s ease 0s;
}
.men:hover{
    transform: translateY(-7px);
}
#about,
#skills,
#projects,
#contact
{
    position: relative;
    background: #34353a;
    min-height: 100vh;
    padding: 120px 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#about{
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom:  -50px;
}
#about>div>img{
    width: 100%;
    border-radius: 170px;
   
}
#image{
    width: 30%;
    height: 330px;
    transition: transform 0.3s ease 0s;
}
#image:hover{
    transform: translateY(-7px);
}
#details
{
    width: 70%;
}
#details>h2{
    color: #30fe6c;
    font-size: 50px;
    margin-bottom: 40px;
}
#details p {
    color: white;
    font-size: 18px;
}
.secText
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.secText h2{
    font-size: 3em;
    color: #30fe6c;
}
.secText p{
    max-width: 700px;
    text-align: center;
    color: #aaa;
    font-size: 1.1em;
    line-height: 1.5em;
}
#skills .content
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin: 40px 0;
}
#resume-button-1{
    border: 0;
    margin-top: 20px;
    width: 150px;
    font-size: 20px;
    background-color: #222;
    color: white;
    height: 50px;
    border-radius: 2px;
    transition: 0.5s;
}
#resume-button-1>a{
    text-decoration: none;
    color: white;
}
#resume-button-1:hover{
    background-color: #30fe6c;
    color: #34353a;
    cursor: pointer;
}
#skills .content .servicesBx
{
    background: #2e2f34;
    padding: 50px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border: 2px solid #2e2f34;
}
#skills .content .servicesBx:hover
{
    border: 2px solid #30fe6c;
}
#skills .content .servicesBx img{
    max-width: 100px;
    filter: invert(1);
    transition: 0.5s;
    opacity: 0.5;
}
#skills .content .servicesBx:hover img{
    opacity: 1;
}
#skills .content .servicesBx h3{
    color: #fff;
    font-weight: 500;
    color: #30fe6c;
}
.center
{
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
.MySkills{
 text-align: center;   
}
.MySkills>h2{
    color: #30fe6c;
    font-size: 50px;
}
.logos{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
    margin-top: 25px;
}
.skillLogo>img{
    margin-top: 50px;
    margin-bottom: 8px;
    width: 80px;
    height: 80px;
}
.skillLogo{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 200px;
    width: 180px;
    color: #fff;
    margin: 15px;
    margin-top: 25px;
    transition: transform 0.3s ease 0s;
}
.skillLogo:hover{
    transform: translateY(-10px);
    cursor:pointer;
    border: 2px solid #30fe6c;
}


#projects
{
    
    background: #2e2f34;
}
.files
{
    display: flex;
    flex-direction: column;
    gap: 120px;
    
}

.imgProj{
    height: 650px;
    width: 50%;
}
.imgProj>img{
    width: 100%;
    border: 5px solid white;
    border-radius: 15px;
    height: 500px;
}
.bigProj{
    display: flex;
    height: 650px;
    gap: 100px;
    margin-top: 30px;
}
.role{
    font-size: 22px;
    margin-bottom: 8px;
    color: #30fe6c;
}
.role>span{
    font-size: 20px;
    color: white;
}
.project-description{
    font-size: 22px;
    color: gray;
}
.feat{
    margin-top: 15px;
    color: #30fe6c;
    font-size: 20px;
}
.stacks{
    display: inline;
    font-size: 20px;
    margin-top: 10px;
    color: #30fe6c;
}
.area{
    margin-top: 10px;
    font-size: 22px;
    color: #30fe6c;
}
.twoLinks{
    display: flex;
    gap: 20px;
}
.twoLinks>a>p{
    text-decoration: none;
    border: 2px solid #30fe6c;
    border-radius: 20px;
    padding: 10px;
    color: white;
    background-color: #37383a;
    transition: 0.5s;
}
.twoLinks>a>p:hover{
    cursor: pointer;
    background-color: #30fe6c;
    color: black;
}

.area>span{
    font-size: 20px;
    color: white;
}
.link{
    font-size: 22px;
    margin-top: 10px;
    color: #27cf57;
}
.stack{
    display: inline;
    margin-left: 15px;
    gap: 10px;
}
.stack>p{
    display: inline;
    margin-left: 5px;
    border-radius: 15px;
    border: 2px solid #30fe6c;
    
    padding: 8px;
    color: white;
    background-color: #37383a;
}
.detailsProj>ul{
    margin-left: 10px;
    color: white;
    font-size: 17px;
}

.detailsProj>h2{
    font-size: 30px;
    color: #30fe6c;
}

.cards{
    height: 650px;
    margin-top: 40px;
}
.project-title{
    font-size: 40px ;
    color: wheat;
}
.imgBx{
    border-radius: 2px;
    width: 450px;
    background: #222;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-top: 40px;
}
.imgBx>a>img{
    border-radius: 2px 2px 0px 0px;
    position: relative;
    width: 450px;
    height: 250px;
}
.imgBx>h3{
    text-align: center;
    color: #30fe6c;
}
.imgBx>h4{
    margin: 10px;
    color: #30fe6c;
}
.imgBx>p{
    margin: 10px;
    color: whitesmoke;
}
.buttons
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.buttons>a>button
{
    cursor: pointer;
   width: 100px;
   height: 30px;
   background-color: #30fe6c;
   border: 0;
   color: black;
   font-size: 16px;
}
.buttons>a>button:hover{
    box-shadow: #30fe6c 0px 3px 15px;
}
#contact .content
{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-gap: 20px;
   margin: 40px 0;
}
#contact .content a{
    background: #2e2f34;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.2em;
    color: #fff;
    transition: 0.5s;
}
.gitt{
    background-color: #34353a;
}
.react-activity-calendar{

    display: flex;

    flex-direction: row;
    justify-content: space-between;
}
.react-activity-calendar>img{
    width: 100%;
    height: 200px;
}
.react-activity-calendar>img:nth-child(2){
    margin-top: 230px;
}

#contact .content a:hover
{
    background: #30fe6c;
}
#contact .content a ion-icon
{
    color: #30fe6c;
    font-size: 1.5em;
    margin-right: 10px;
    transition: 0.5s;
}
#contact .content a:hover,
#contact .content a:hover ion-icon
{
    color: #222;
}
.copyrights
{
    margin-top: 150px;
    position: relative;
    font-size: 1.1em;
    color: #aaa;
}
#gitD{
    
    margin-top: 40px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
#gitD>img{
    width: 30%;
}

reveal.active {
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom 1s ease-in;
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
  }
  .active.fade-right {
    animation: fade-right 1s ease-in;
  }
  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }


  @media (max-width: 1500px){
         .logos{
            grid-template-columns: repeat(4,1fr);
         }
         .works{
            display: grid;
            grid-template-columns: repeat(2,1fr);
         }
  }

  @media (max-width: 1200px){
       .bigProj{
        display: flex;
        flex-direction: column;
       }
       .files{
        justify-content: center;
        width: 100%;
        align-items: center;
       }
       .cards{
        
        margin-bottom: 450px;
       }
       .detailsProj{
        width: 100%;
       }
       .react-activity-calendar>img:nth-child(2){
        margin-top: 50px;
    }
    .react-activity-calendar>img{
        margin-top: 50px;
    }
       
  }

/* Responsive Code */
@media only screen and (max-width: 900px) {
    header{
        padding: 20px 50px;
    }
    #home
    {
        padding: 150px 50px;
        flex-direction: column;
        padding-bottom: 0;
    }
    #home .content h2{
        font-size: 4em;
    }
    
    #home .men
    {
        position: absolute;
        height: 50vh;
        right: 0;
    }

    .logos{
        grid-template-columns: repeat(3,1fr);
     }
     .works{
        display: grid;
        grid-template-columns: repeat(1,1fr);
     }

    .secText h2{
        font-size: 2em;
        text-align: center;
    }
    #about,
#skills,
#projects,
#contact
{
    padding:100px 50px 50px;
}
#skills .content,
#contact .content
{
    grid-template-columns: repeat(1,1fr);
}
.menuToggle
{
    position: relative;
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.menuToggle::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: translateY(-10px);
    transition: 0.5s;
    box-shadow: 0 10px #fff;
}
.menuToggle::after
{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: translateY(10px);
    transition: 0.5s;
}
header.active .menuToggle::before
{transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0px #fff;
}
header.active .menuToggle::after
{
    transform: translateY(0px) rotate(315deg);
   
}

header ul
{
    display: none;
}
header.active ul
{
    background:  rgba(50, 50, 50, 0.95);
    position: fixed;
    width: 100%;
    left: 0;
    top: 84px;
    height: calc(100vh - 84px);
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10000;
    gap: 20px;
}
header.active ul li a
{
    font-size: 2em;
}
}



@media (max-width: 730px)
{
    #home .content h2
    {
        font-size: 3em;
    }
    #home::before
    {
    width: 80vw;
    height: 40vw;
    border-top-right-radius: 80vw;
    border-top-left-radius: 80vw;
    }
    #home .men
    {
        height: 40vh;
    }
    #contact .content a
    {
        height: 80px;
    }
    #about{
        display: flex;
        gap: 0;
        justify-content: center;
        flex-direction: column;
    }
    #about>div>img{
        width:200px;
        height: 200px;
    }
    .imgBx>a>img{
        width: 100%;
    }
    #details{
        width: 100%;
    }
    #details>p{
      width: 100%;
    }
    .btn{
        
        width: 170px;
        font-size: 16px;
        
        padding: 10px 0px 8px 10px;
        height: 50px;
    }
    .logos>div>img{
        width: 80px;
        height: 80px;
    }
    #gitD>img{
        width: 100%;
    }
    .logos{
        grid-template-columns: repeat(2,1fr);
     }
     .files{
      width: 100%;
     }
     .stack>p{
        display: block;
        width: 150px;
        
        margin-top: 10px;
     }
     .cards{
        width: 100%;
        margin-bottom: 650px;
     }
     .cards>h1{
        font-size: 20px;
        width: 100%;
     }
     .imgProj{
        width: 100%;
     }
}

@media (max-width: 500px){
    
    .ticks{
        display: flex;
        flex-direction: column;
    }
    .cards{
       width: 100%;
    }
    .files{
        width: 100%;
    }
    .imgProj{
        width: 100%;
    }
    .imgProj>img{
        height: 300px;
    }
    .detailsProj{
        width: 100%;
    }
    .skillLogo{
        width: 70%;
    }
    .skillLogo>img{
        width: 70%;
    }
    .logos{
        grid-template-columns: repeat(2,1fr);
    }
    .react-activity-calendar>img:nth-child(2){
        margin: 15px;
    }
    .react-activity-calendar>img{
        width: 80%;
        margin: 15px;
    }
    .react-activity-calendar{
        flex-direction: column;
    }
    .files>div:nth-child(4){
        height: 400px;
    }
}

